<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiacloud.api.dao.CampusActivityMapper">
    <resultMap id="BaseResultMap" type="com.jiacloud.api.domain.CampusActivity">
        <result column="bdname" property="bdname"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,classroom,name.number
    </sql>

    <!--创建活动表-->
    <select id="setActivity" parameterType="java.lang.String">
        create table ${bdname}(
          id int(10) NOT NULL AUTO_INCREMENT,
          classroom varchar(255) DEFAULT NULL COMMENT '班级',
          name varchar(255) DEFAULT NULL COMMENT '名字',
          number varchar(255) DEFAULT NULL COMMENT '学号',
          PRIMARY KEY (`id`)
        )ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;
    </select>
</mapper>