<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiacloud.api.dao.CampusActivityMapper">
    <resultMap id="BaseResultMap" type="com.jiacloud.api.domain.CampusActivity">
        <result column="activityName" property="activityName"/>
        <result column="classroom" property="classroom"/>
        <result column="name" property="name"/>
        <result column="number" property="number"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,classroom,name.number
    </sql>


    <!--参加校园活动-->
    <select id="joinActivity" parameterType="java.lang.String">
        INSERT INTO activitymember (classroom,name,number,activityName) VALUES (#{classroom},#{name},#{number},#{activityName})
    </select>

    <!--返回所有参加人的信息-->
    <select id="findAllActivity" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
          classroom,name,number
        from activitymember
        where activityName=#{activityName}
    </select>

    <!--返回参与人数-->
    <select id="countUpActivity" resultType="java.lang.Integer">
        select count(*)
        from activitymember
        where activityName=#{activityName}
    </select>
</mapper>