<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiacloud.api.dao.CompetitionMapper">
    <resultMap id="BaseResultMap" type="com.jiacloud.api.domain.Competition">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="time" property="time"/>
        <result column="deadline" property="deadline"/>
        <result column="grade" property="grade"/>
        <result column="sponsor" property="sponsor"/>
        <result column="presentation" property="presentation"/>
    </resultMap>

    <sql id="Base_Column_List">
        name,time,deadline,grade,sponsor,presentation
    </sql>

    <!--添加竞赛-->
    <select id="addCompetition" resultMap="BaseResultMap" parameterType="java.lang.String">
        INSERT INTO competition (name,time,deadline,grade,sponsor,presentation) values (#{name},#{time},#{deadline},#{grade},#{sponsor},#{presentation})
    </select>

    <!--查找竞赛-->
    <select id="findCompetition" resultMap="BaseResultMap" parameterType="java.lang.String">
        select time
        from competition
        where name=#{name}
    </select>

    <!--返回所有竞赛-->
    <select id="findAllCompetition" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from competition
    </select>

    <!--返回竞赛到期时间-->
    <select id="findCompetitionDeadline" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
          deadline
        from competition
        where name=#{name}
    </select>

    <!--添加文件-->
    <select id="addDocName" resultMap="BaseResultMap" parameterType="java.lang.String">
           update competition set docName=#{DocName} where name=#{name}
    </select>

    <!--添加图片-->
    <select id="addImagePath" resultMap="BaseResultMap" parameterType="java.lang.String">
           update competition set imgPath=#{imgPath} where name=#{name}
    </select>

    <!--结束项目-->
    <select id="deleteCompetition" resultMap="BaseResultMap" parameterType="java.lang.String">
         DELETE FROM competition WHERE name=#{name};
    </select>

    <!--删除竞赛相关人员-->
    <select id="deleteCompetitionMember" resultMap="BaseResultMap" parameterType="java.lang.String">
         DELETE FROM competitionmember WHERE competitionName=#{name};
    </select>

</mapper>